<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in the required fields for your Christmas MadLibs!</h1>
    <form action="/christmas-mad-lib" method="post">
     <label for="nounOne">Noun</label>
     <input id="nounOne" name="nounOne" type="text">
     <br>
     <label for="nounTwo">Another Noun</label>
     <input id="nounTwo" name="nounTwo" type="text">
     <br>
     <label for="verbOne">Verb ending in -ed</label>
     <input id="verbOne" name="verbOne" type="text">
     <br>
     <label for="nounThree">Another noun</label>
     <input id="nounThree" name="nounThree" type="text">
     <br>
     <label for="adjectiveOne">Adjective</label>
     <input id="adjectiveOne" name="adjectiveOne" type="text">
     <br>
     <label for="nounFour">Another Noun</label>
     <input id="nounFour" name="nounFour" type="text">
     <br>
     <label for="verbTwo">Another verb ending in -ed</label>
     <input id="verbTwo" name="verbTwo" type="text">
     <br>
     <label for="nounFive">Another noun</label>
     <input id="nounFive" name="nounFive" type="text">
     <br>
     <label for="nounSix">Another Noun</label>
     <input id="nounSix" name="nounSix" type="text">
     <br>
     <button type="submit">Go!</button>
    </form>
  </body>
</html>