<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>MadLibs!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill in the required fields for your Halloween MadLibs!</h1>
    <form action="/halloween-mad-lib" method="post">
     <label for="holiday">Holiday</label>
     <input id="holiday" name="holiday" type="text">
     <br>
     <label for="nounOne">Noun</label>
     <input id="nounOne" name="nounOne" type="text">
     <br>
     <label for="place">Place</label>
     <input id="place" name="place" type="text">
     <br>
     <label for="person">Person</label>
     <input id="person" name="person" type="text">
     <br>
     <label for="adjectiveOne">Adjective</label>
     <input id="adjectiveOne" name="adjectiveOne" type="text">
     <br>
     <label for="bodyPart">Body Part</label>
     <input id="bodyPart" name="bodyPart" type="text">
     <br>
     <label for="verb">Verb</label>
     <input id="verb" name="verb" type="text">
     <br>
     <label for="adjectiveTwo">Another Adjective</label>
     <input id="adjectiveTwo" name="adjectiveTwo" type="text">
     <br>
     <label for="nounTwo">Another Noun</label>
     <input id="nounTwo" name="nounTwo" type="text">
     <br>
     <label for="food">Food</label>
     <input id="food" name="food" type="text">
     <br>
     <label for="pluralNoun">Pluran Noun</label>
     <input id="pluralNoun" name="pluralNoun" type="text">
     <br>
     <button type="submit">Go!</button>
    </form>
  </body>
</html>