<!DOCTYPE html>
<html>
<head>
  <title>MadLibs!</title>
</head>
<body>
  <h1>Welcome to MadLibs!</h1>
  <h2>Choose a MadLib theme</h2>
  <a href="/halloween-form">Halloween!</a>
  <a href="/christmas-form">Christmas!</a>
</body>
</html>